@import 'variables';
@import 'mixin';



* {
    font-family: $roboto;
    margin: 0;
    padding: 0;
}

.article-font-size{
   font-size: 10px; 
}

.closer{
    font-family: $closer;
}
.marginTop{
    margin-top: 2%;
}

header {
    padding: 4rem 0 0;
}

.title {
    background-image: url(../../assets/img/logo-tall.svg);
    background-repeat: no-repeat;
    padding: 4rem 0 0;
    text-align: center;
}

.separador {
    height: 4px;
    width: 100%;
    background-color: $azul;
    margin-top: 15px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.rigth {
    text-align: right;
}

.image {
    width: 100%;
}

.footer-article {
    background-color: lighten($azul, 20%);
    padding: 2%;
}

[class*="col-"] {
    min-height: 7px;
    float: left;
}

.row {
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        @extend .row:before;
        clear: both;
    }
}

nav {
    li {
        display: inline-block;
        list-style: none;
        padding: 2%;
        &:hover {
            text-decoration-line: underline;
        }
        a {
            text-decoration-line: none;
            color: $grisOscuroTitulos;
        }
    }
}

article{
    &:hover{
        @include shadow($boxShadow);
    }
}

@function anchoColumnas($columns) {
    @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
    .col-#{$numColumna} {
        width: anchoColumnas($numColumna);
    }
}
